
<!-- <div class="row align-items-start">
    <div class="col"> -->
        <a href="{% url "post-detail" post.slug %}">
        <div class="card flex-row">
            <img class="postimage" src="{{ post.image.url }}" alt="Image 1 Description">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.excerpt }}</p>
              <h7 class="card-text">{{post.date}}</h7>
            
            </div>
        </div>
        </a>
    <!-- </div>
</div> -->



  

